@charset "UTF-8";
img {
	max-width: 100%;
	max-height: 100%;
	align-content: center;
}

.top {
	width: 100%;
}

.head-text {
	width: 100%;
	padding-bottom: 30px;
}

.footer{
	width: 100%;
	bottom: 0px;
	padding-bottom: 10px;
	padding-top: 20px;
}

.bottom {
	width: 80%;
	align-self: center;
}

header{
	padding-bottom: 20px;
}

body {
	width: 100%;
	background-image: url(assets/watercolorbg.jpg);
	background-repeat: repeat-y;
	background-size: cover;
	opacity: 50%;
}


.about{
	width: 40%;
	float: right;
	padding-bottom: 5%;
	padding-right: 5%;
}

p {
	font-family: Futura;
	font-size: 11pt;
	font-size: 1.3vw;
	clear: both;
	color: #3a3637;
}

.txt{
	font-size: 45px;
	font-size: 4.03vw;
	font-family: Futura;
	text-align: center;
	color: #3a3637;
	padding-top: 10px;
}

.projtxt{
	font-size: 45px;
	font-size: 4.03vw;
	font-family: Futura;
	text-align: right;
	color: #3a3637;
	padding-top: 10px;
}

.caption{
	font-family: Futura;
	font-size: 10pt;
	font-size: 1.2vw;
	color: #3a3637;
	padding-bottom: 5px;
}

.fullcap{
	font-family: Futura;
	font-size: 12pt;
	font-size: 1.4vw;
	color: #3a3637;
	padding-bottom: 5px;
	text-align: center;
}

a:visited {
	text-decoration: none;
	color: #657953;
}

a:link {
	text-decoration: none;
	color: #657953;
}

a:hover {
	text-decoration: none;
	color: #666666;
}


@font-face {
    font-family: Futura;
    src: url(assets/fonts/Futura-Medium.woff);
}